.funtext{
    font-size: 40px;
    padding: 20px 0 15px 0;
}
.funp{
    color: blue;
    font-size: x-large;
    line-height: 40px;
}
.flexfun
{
    background-color: rgb(149, 223, 255);
    height: 50vh;
    border: 3px solid black;
    border-radius: 30px;
    width: 45%;
    position: absolute;
    bottom: 10%;
    left: 3%;
    cursor: pointer;
}